<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>


<ul id="replies">

</ul>

<script id="template" type="text/x-handlebars-template">
    {{#each .}}
    <li class="replyLi">
        <div>{{rno}}</div>
        <div>{{replytext}}</div>
        <div>{{replydate}}</div>
    </li>
    {{/each}}
</script>
<script>
    var source = $("#template").html();
    var template = Handlebars.compile(source);
    var data  = [
        {rno:1, replytext:'1番コメント....', replydate:new Date()},
        {rno:2, replytext:'2番コメント....', replydate:new Date()},
        {rno:3, replytext:'3番コメント....', replydate:new Date()},
        {rno:4, replytext:'4番コメント....', replydate:new Date()},
        {rno:5, replytext:'5番コメント....', replydate:new Date()}
    ];
    $("#replies").html(template(data));

</script>
</body>
</html>